<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmr.mapper.OrderMapper">
    <resultMap id="order" type="com.tmr.po.Order">
        <id column="order_Id" property="orderId"/>
        <result column="date" property="date"/>
        <result column="fee" property="fee"/>
        <result column="content" property="content"/>
        <result column="state" property="state"/>
        <result column="user_Id" property="userId"/>
    </resultMap>
    <select id="selectOrdersByUserId" parameterType="Integer" resultMap="order">
        select * from orders where user_id=#{userId}
    </select>
</mapper>